<!--
  Generated template for the InfoJeuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Information</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<p>Mon prix ({{username}}): <br></p>
<h3>{{prix}}</h3>
 

<p><br></p>

<ion-list>
  <ion-list-header>
  Autres vendeurs
  </ion-list-header>  


     <ion-item-sliding *ngFor="let item of items;">
      <ion-item>
    {{item.vendeur}}
    </ion-item>
 
   
    
  </ion-item-sliding> 
     

    <!--<ion-item-sliding *ngFor= "let item of items">
 
    <ion-item>
    {{item.title}}
    </ion-item>
 
    <ion-item-options>
      <button ion-button color="danger" (click)="removeItem(item)"> Delete</button>
    </ion-item-options>
  </ion-item-sliding>-->

  </ion-list>

</ion-content>
